<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Stanford NER Tagger</display-name>
    <description>
    	This is a named entity recognizer based on Conditional Random Fields.
    </description>

    <servlet>
        <servlet-name>NERServlet</servlet-name>
        <servlet-class>edu.stanford.nlp.ie.ner.webapp.NERServlet</servlet-class>
        <init-param>
            <param-name>outputFormat</param-name>
            <param-value>inlineXML</param-value>
        </init-param>
        <init-param>
            <param-name>preserveSpacing</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>NERServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
</web-app>
