{% capture callout_danger %}<div class="bs-callout bs-callout-danger">{% endcapture %}
{% capture callout_default %}<div class="bs-callout bs-callout-default">{% endcapture %}
{% capture callout_primary %}<div class="bs-callout bs-callout-primary">{% endcapture %}
{% capture callout_success %}<div class="bs-callout bs-callout-success">{% endcapture %}
{% capture callout_info %}<div class="bs-callout bs-callout-info">{% endcapture %}
{% capture callout_warning %}<div class="bs-callout bs-callout-warning">{% endcapture %}

{% capture hr_faded %}<hr class="faded"/> {%endcapture %}
{% capture hr_shaded %}<hr class="shaded"/> {%endcapture %}