<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           {% if site.suffix %}
            <a class="fa fa-home fa-lg navbar-brand" href="index.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
            {% else %}
            <a class="fa fa-home fa-lg navbar-brand" href="index.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- entries without drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% include custom/conditions.html %}

                {% for entry in topnav %}
                {% for subcategory in entry.subcategories %}
                {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
                {% if subcategory.external_url %}
                <li><a href="{{subcategory.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                {% elsif page.url == subcategory.url %}
                <li class="active"><a href="{{subcategory.url | replace: "/",""}}">{{subcategory.title}}</a></li>
                {% else %}
                <li><a href="{{subcategory.url | replace: "/",""}}">{{subcategory.title}}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}


                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->

                <li class="dropdown">
                    {% for entry in topnav_dropdowns %}
                    {% for subcategory in entry.subcategories %}
                    {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ subcategory.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for subitem in subcategory.items %}
                        {% if subitem.audience contains audience and subitem.product contains product and subitem.platform contains platform and subcategory.version contains version and subitem.web != false %}
                        {% if subitem.external_url %}
                        <li><a href="{{subitem.external_url}}" target="_blank">{{subitem.title}}</a></li>
                        {% elsif page.url contains subitem.url %}
                        <li class="dropdownActive"><a href="{{subitem.url | replace: '/',''}}">{{subitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{subitem.url | replace: "/",""}}">{{subitem.title}}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </ul>
                </li>
                {% endfor %}
                {% endfor %}


                <!-- special insertion -->

               {% comment %} {% include custom/doc/customMenu.html %}{% endcomment %}
           
        </div>
        <!-- /.container -->
</nav>
