<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>NaturalLI OpenIE Server</display-name>
  <description>
    The backend servlet for the NaturalLI OpenIE demo.
  </description>

  <servlet>
    <servlet-name>openie</servlet-name>
    <servlet-class>edu.stanford.nlp.naturalli.demo.OpenIEServlet</servlet-class>
    <!-- Load this servlet at server startup time -->
    <load-on-startup>5</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>openie</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>    <!-- 30 minutes -->
  </session-config>

    <!-- CORS Filter -->
    <filter>
        <filter-name>cors-ebay</filter-name>
        <filter-class>edu.stanford.nlp.naturalli.demo.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <!--<param-value>http://128.12.224.119,http://171.64.66.31,http://localhost:8080,http://localhost,https://localhost,http://nlp.stanford.edu,https://nlp.stanford.edu,http://plato42.stanford.edu,https://plato42.stanford.edu,http://goobs.org,https://goobs.org</param-value>-->
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.logging.enabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>cors-ebay</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>