//
// Custom overrides from a user.
//

.alert {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 4px;
}
.alert p {
    margin: 0;
}
.alert.alert-info {
    color: $blue-200;
    background: #e4efff
}

.toc a {
    white-space: normal;
}
td a, td a {
    white-space: normal !important;
}
td, th {
    min-width: 90px;
}

// Custom footer lists
footer ul {
    list-style: none;
    height: 20px;
    padding: 0;
}

footer li {
    width: 40px;
    float: left;
    height: 20px;
}

footer li a {
    color: #222;
    text-decoration: none;
}

footer li a:hover {
    color: $link-color;
}

blockquote.citation {
    border-left: 5px $link-color solid;
    padding-left: 10px;

    a {
        white-space: normal;
    }
}

.code-output{
    &::before {
        @extend .text-delta;
        content: "Output";
    }
}

@media(max-width:800px){
    body {
        padding-bottom: 5rem;
    }
}

@media(max-width:600px){
    body {
        padding-bottom: 6rem;
    }
}
