body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-query .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-query .form-control:focus {
  z-index: 2;
}

#truth-value {
  font-weight: bold;
  font-size: xx-large;
}
.truth-value-true {
  color:  green;
}
.truth-value-false {
  color:  red;
}
.truth-value-unknown {
  color:  red;
}
.truth-value-error {
  color:  red;
}
.truth-gloss {
  font-size: xx-large;
}

.justification-entry {
  font-size: large;
}


.justification-table {
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
}
.justification-table th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	text-align:center;
}
.justification-table td {
	color: #669;
	padding: 9px 8px 0px 8px;
	text-align:center;
}
.justification-table th  td {
  padding-left: 50px;
  padding-right: 50px;
}
.justification-table tbody tr:hover td {
	color: #009;
}

.justification-singleline {
  text-align: center;
	color: #039;
  font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 25px;
}
.justification-singleline-input {
	font-weight: bold;
}
.justification-singleline-fact {
	color: #333;
	font-weight: bold;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

h2 {
  color:  #000080;
  padding-bottom: 1ex;
}

.triples {
  font-size: large;
  text-align: center;
}

.triple-table {
  margin: 0 auto !important;
  float: none !important;
}

td {
  text-align: left;
  padding-right: 2ex;
  padding-bottom: 1ex;
}
