<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  
  <display-name>Stanford CoreNLP</display-name>
  <description>
    This is Stanford CoreNLP in webapp form.
  </description>
  
  <servlet>
    <servlet-name>CoreNLPServlet</servlet-name>
    <servlet-class>edu.stanford.nlp.pipeline.webapp.CoreNLPServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CoreNLPServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/brat.js</url-pattern>
  </servlet-mapping>

</web-app>
