body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width:1024px;
  font-size:13pt
}

.form-query .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-query .form-control:focus {
  z-index: 2;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
#message {
	top:25%;
	outline: none;
}
.entityEx{
	text-align:left;
}
.entityEx:hover {
	background-color:#ccc;
}
.header{
	font-size: 250%
}
.ui-widget{
	font-size: 100%;
}
#accordion .ui-accordion-header:first-of-type {  
    background-color: #ECF0F1;  
    background-image: none;
}  