body {
}

.red {
  color:#990000
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  padding-top: 15px;
  margin-top: 25px;
  background-color: #f5f5f5;
}
