
.red {
  color:#990000
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -6ex;
  padding: 0 0 6ex;
}

.pattern_tab {
  margin: 1ex;
}

.pattern_brat {
  margin-top: 1ex;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5ex;
  padding-top: 1ex;
  margin-top: 1ex;
  background-color: #f5f5f5;
}

